*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 10px;
}

.logo-img {
  max-width: 125px;
}
